/* ====================
    ELEMENTS
======================= */

html,
body {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #464545;
  color: #1a1a1a;
}

footer {
  position: relative;
  padding: 1rem;
  text-align: center;
}

a {
  color: #1a1a1a;
}

  a:hover {
    text-decoration: none;
    color: #1a1a1a;
    filter: brightness(255%);
  }

  a:active{
    text-decoration: none;
    color: #1a1a1a;
    filter: brightness(355%);
  }

/* ====================
    CLASSES
======================= */

.logo {
  width: 50px;
  border: solid 3px white;
  border-radius: 50%;
}

.display-name {
  margin-left: 1rem;
}

.status {
  font-style: italic;
  margin-left: 1rem;
}

.tab-container {
  background-color: rgb(163, 162, 162);
  width: 20px;
  height: 20px;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: .3rem;
  transition: all .5s ease-in-out;
}

  .tab-container:hover {
    width: 80px;
  }

.tab-icon {
  margin: .32rem;
  border: solid 1px black;
  border-radius: 50%;
  display: inline-block;
  height: 10px;
  width: 10px;
  background-color: #ffffff;
}

.tab-text {
  display: none;
}



/* ====================
    IDs
======================= */

#page-header {
  background-color: #6441A4;
  color: #f5f5f5;
  padding: 1rem;
  width: 100%
}

#page-title-icon {
  font-size: 2rem;
  padding-right: .5rem;
}

#page-title {
  display: inline-block;
}

#streamer-container {
  background-color: #6441A4;
  margin-top: 3rem;
  padding: 0;
  width: 80%;
  color: #f5f5f5;
}

#streamer-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #4c327c;
  padding: .5rem 0;
}

#streamer-title {
  display: inline-block;
  margin: 0 0 0 1rem;;
  font-size: 2rem;
}

#streamer-tabs {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  list-style: none;
  margin: .25rem 0 0 0;
  padding: 0;
}

#streamer-list {
  padding: 0;
  display: flex;
  flex-direction: column; 
  flex-basis: 2rem;
}

  #streamer-list li {
    width: 100%;
    background-color: red;
    margin-bottom: 1rem;
  }

/* ====================
    Media Queries
======================= */
